
	<div th:insert="com/_header"></div>
	
	<div class="mainimg">
		<img th:src="@{/img/mainimg.jpg}" alt="メイン画像">
	</div>
	<main>
		<section>
			<div class="container">
				<h2 class="catch">Works</h2>
				<div class="row">
					<div class="col span-4">
						<figure>
							<img th:src="@{/img/catch.jpg}" alt="画像">
							<figcaption>キャプション</figcaption>
						</figure>
					</div>
					<div class="col span-4">
						<figure>
							<img th:src="@{/img/catch.jpg}" alt="画像">
							<figcaption>キャプション</figcaption>
						</figure>
					</div>
					<div class="col span-4">
						<figure>
							<img th:src="@{/img/catch.jpg}" alt="画像">
							<figcaption>キャプション</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col span-4">
					<h5>フッター１</h5>
					<p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
				</div>
				<div class="col span-4">
					<h5>フッター２</h5>
					<p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
				</div>
				<div class="col span-4">
					<h5>フッター３</h5>
					<p>ここにSNSやテキストなどが入ります。SNSやテキストなどが入ります。</p>
				</div>
			</div>
		</div>
	</footer>
	<p id="pagetop">
		<a href="#">TOP</a>
	</p>
</body>
</html>